!!!
%html
  %head
    %title Sam Kah Chiin
    %meta{charset:"utf-8"}/
    %meta{content:"width=device-width, initial-scale=1", name:"viewport"}
    %link{href:"assets/css/main.css",rel:"stylesheet"}
    %noscript
      %link{href:"assets//css/noscript.css",rel:"stylesheet"}
  %body.is-loading
    #wrapper
      %section#main
        %header
          %span.avatar
            %img{src:"images/avatar.jpg"}
          %h1 Sam Kah Chiin
          %p Ruby on Rails Developer
        %footer
          %ul.icons
            %li
              %a.fa-github{:href => "https://github.com/samkahchiin"} github
            %li
              %a.fa-linkedin{:href => "https://www.linkedin.com/in/kah-chiin-sam-618b2685"} Linkedin
            %li
              %a.fa-facebook{:href => "https://www.facebook.com/kah.c.sam"} Facebook
            %li
              %a.fa-codepen{:href => "http://codepen.io/earthworm48/"} Codepen
      / Footer
      %footer#footer
        %ul.copyright
          %li &copy; Sam Kah Chiin
          %li
            Design:
            %a{href:"http://html5up.net"} HTML5 UP
    / Scripts

:javascript
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
